# Binaries / Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
*.apk
*.aab

# Output builds
/bin/
/dist/
/release/
*.deb
server/build/package/usr/bin/comic-reader-server
server/build/package/var/

# Application runtime data & cache
data/
*.tmp

# Keystore secrets
*.keystore
*.jks
!tools/release.keystore

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
__pycache__/
*.pyc
